<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:athena="http://www.vip.com/schema/athena"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.vip.com/schema/athena
                        http://www.vip.com/schema/athena/job.xsd">

    <athena:job name="helloJob" jobClass="com.vip.athena.job.HelloJob" cron="0/5 * * ? * *" description="Hello World Job"

        lazySchedule="true"/>


</beans>